body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
}
.content, .header-anchor {
  text-align: initial;
  display: inline-block;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}
header, .header-anchor {
  height: 60px;
}
header {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  position: fixed;
  background: thistle;
  z-index: 1000;
}
.title {
  font-size: 32px;
  font-style: italic;
  position: relative;
  top: 8px;
}
.ketpsi {
  color: hsl(80, 100%, 20%);
  filter: hue-rotate(0deg);
}
.ketpsi:hover{
  animation: rainbow 3s infinite;
}
@keyframes rainbow {
  from {
    filter: hue-rotate(0deg)
  } to {
    filter: hue-rotate(360deg)
  }
}
code {
  font-family: "Fantasque Sans Mono", Consolas, monospace;
}
/* UI elements */

.block {
  display: inline-block;
  padding: 0.05em 0.3em 0.05em 0.3em;
  border-radius: 5px;
  background: #ddd;
  width: 70%;
  margin-top: 10px;
}
.panel-control-item:first-child .block{
  margin-top: 0;
}
.block h2 {
  margin-top: 0;
}

/* CONTROL PANEL */

.panels {
  display: flex;
}
.panel {
  flex-grow: 1;
}

.panel-control {
  flex-grow: 3;
  position: relative;
  height: 100%;
}

.info {
  font-size: 0.8em;
  opacity: 0.6;
  font-weight: initial;
}

.slider {
  width: 100%;
  right: 1px;
}

/* GATES */

.panel-gates {
  flex-grow: 4;
  display: inline-block;
  width: 55%;
}

.gate-kind {
  display: inline-block;
  margin: 2px;
}

.gate-icon {
  display: inline-block;
  color: black;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 3px solid transparent;
  position: relative;
  z-index: 2;
  transition-property: color, opacity, background-color;
  transition-duration: 0.15s;
}
.gate-icon .no_mathjax{
  position: relative;
  top: 9px;
}
.gate-icon > {
  z-index: 2;
}

.mathjax, 
.mathjax-loaded .no_mathjax {
  display: none;
}
.mathjax-loaded .mathjax {
  display: unset;
}

.selected .gate-icon {
  border-color: hotpink;
}

.general .gate-icon,
.qubit .general::before,
.qubit .general::after {
  background: thistle;
}
.rotation .gate-icon,
.rotation::before,
.rotation::after {
  background: wheat;
}
.phase .gate-icon,
.qubit .phase::before,
.qubit .phase::after {
  background: pink;
}

.swap .gate-icon{
  background: lightskyblue;
}
.qubit .swap .gate-icon,
.qubit .swap::before,
.qubit .swap::after {
  background: lightskyblue;
}
.qubit .swap .gate-icon:not(.control-dot) {
  background: transparent;
  transform: scale(1.8) translateY(7px);
  color: lightskyblue;
}


.timing .gate-icon {
  background: thistle;
}
.qubit .timing:not(:hover) .gate-icon {
  background: transparent;
  opacity: 0.8;
  color: thistle;
}

.qubit .gate-icon.control-dot {
  border-radius: 50%;
  transform: scale(0.3);
}
.gate-icon.empty {
  background: transparent;
}
/* up and down indicate connections in a gate*/
.gate.up::before,
.gate.down::after{
  content: "";
  width: 2px;
  display: inline-block;
  position: absolute;
  height: 42px;
  z-index: 0;
}
.gate.down::after {
  transform: translate(-24px, 23px);
}
.gate.up::before {
  transform: translate(22px, -18px);
}

.gate-icon .MathJax {
  top: calc(50% - 0.5em)
}
.gate-icon .gate-hint {
  font-family: "Fantasque Sans Mono", Consolas, monospace;
  opacity: 0.4;
  position: absolute;
  text-align: center;
  font-size: 0.7em;
}
.bottom { bottom: -2px }
.top { top: -2px }
.left { left: 1px }
.right { right: 1px }

/* CIRCUIT */

.status {
  height: 2em;
  text-align: center;
  opacity: 0.3;
}
.selection .status {
  opacity: 1;
}

.circuit {
  width: 100%;
}


.qubits {
  border-collapse: collapse;
  table-layout: fixed;
}
.qubits, .qubits tr, .qubits td {
  border: none;
}
.qubits tr {
  width: 100%;
  height: 5em;
  margin-bottom: 10px;
}
.qubits td{
  padding-right: 0.4em;
}
.qubit .header {
  font-family: "Fantasque Sans Mono", Consolas, monospace;
  z-index: 10;
  width: unset;
}
.qubit .header .plus {
  color: transparent;
}
.selection .qubit .header,
.selection .qubit .header .plus {
  cursor: pointer;
  color: lightcoral;
}
.selection .qubit .header:hover {
  text-decoration: underline;
}

.qubits tr::after{
  content: "";
  position: relative;
  display: table-cell;
  width: 100%;
}

.qubit {
  background-image: linear-gradient(
    to bottom,
    transparent 48%,
    thistle 48%,
    thistle 52%,
    transparent 52%
    );
}
.qubit .header, .qubit .initial {
  background-color: white;
}

.bar{
  display: inline-block;
  width: 30em;
  max-width: calc(100% - 5em);
  background-color: honeydew;
  transform: translateY(0.333em);
}
.bar .fill {
  position: relative;
  background-color: thistle;
}

.hidden {
  display: none;
}
.error {
  color: #a00
}

input[type=file]{
  color: transparent;
}

/* UI summoner
 * .summoner
 *   div        (always appears, and when moused over...)
 *   .summoned  (...will appear)
 */ 

 @keyframes hoverin{
  from {
    transform: translateY(20px);
    opacity: 0;
  }
}
.summoned {
  position: fixed;
  display: none;
  background: aliceblue;
  max-width: 20em;
  z-index: 1000;
  border: 2px solid rebeccapurple;
  margin-top: 0;
}
.summoner:hover:not(.summon-shushed) .summoned {
  display: block;
  float: right;
  animation: hoverin 0.2s;
}
