<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Qbuilder</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class='header-anchor'></div>
<header>
<div class='content'>
  <div class="title">Quantum Builder</div>
</div>
</header>
<div class='content'>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nisi! Quaerat, obcaecati sapiente. Eius aperiam eaque aliquid, vel libero autem! Corrupti adipisci molestiae odio quibusdam dolore facilis, deleniti ipsam aperiam.
  </p>
  <canvas>

  </canvas>
</div>
</body>
</html>
