<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quantum Builder</title>
  <link rel="stylesheet" href="/static/style.css">
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script"
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  <script src="/static/circuit.js"></script>
  <script>
    gate_kinds = {{gate_data|safe}}
  </script>
</head>
<body>
<div class='header-anchor'></div>
<header>
<div class='content'>
  <div class="title">Quantum Builder</div>
</div>
</header>
<div class='content'>
  <p>
    Hover the mouse over a gate to view its properties.
    Click on a gate and then an insertion point to add it to the circuit.
  </p>
  <pre>
  </pre>
  <div class='builder'>
    <div class='panels'>
    <div class='panel-gates'>
      {% for op in gate_items.values() %}
        <div class='gate-kind {{op.kind}}' id='{{op.id}}'>
          <div class='gate-icon'>\({{op.symbol}}\)</div>
          <div class='gate-hint'>
            <h2>{{op.name}}</h2>
            <p>
            \[
              {{op.mathjax.factor}}
              \begin{bmatrix}{{op.mathjax.matrix}}\end{bmatrix}
            \]
            </p>
            <p>{{op.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class='panel-rest'>
      Qubits: <span id='qubit-count'>0</span>
      <button id='qubit-more'>+</button>
      <button id='qubit-less'>-</button>
    </div>
    <div class='circuit' id='circuit'>
      <div class='qubits' id='qubits'>
        <!-- TECHNICAL DEBT
          -- The default qubits are manually placed
          -- so typesetting can be done.
          -- Adding more qubits will with 99.9% likelihood
          -- be done by the user *after* typesetting,
          -- so we then will be able to copy anything typeset.
          -- This is an issue if we want to save or load
          -- circuitry, and should be fixed with async behaviour.
          -->
        <div class='qubit'>
          <div class='header'>q[0]</div>
          <div class='ket0'>\(\ket{0}\)</div>
          <div class='line'></div>
        </div>
        <div class='qubit'>
          <div class='header'>q[1]</div>
          <div class='ket0'>\(\ket{0}\)</div>
          <div class='line'></div>
        </div>
        <div id='gates', class='gates'>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
