<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Qbuilder</title>
  <link rel="stylesheet" href="/static/style.css">
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="/static/circuit.js"></script>
</head>
<body>
<div class='header-anchor'></div>
<header>
<div class='content'>
  <div class="title">Quantum Builder</div>
</div>
</header>
<div class='content'>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nisi! Quaerat, obcaecati sapiente. Eius aperiam eaque aliquid, vel libero autem! Corrupti adipisci molestiae odio quibusdam dolore facilis, deleniti ipsam aperiam.
  </p>
  <div class='builder'>
    Qubits: <span id='qubit-count'>0</span>
    <button id='qubit-more'>+</button>
    <button id='qubit-less'>-</button>
    <canvas class='circuit' id='circuit'>
      Your browser doesn't appear to support HTML5. Please upgrade
      to a modern browser.
    </canvas>
  </div>
</div>
</body>
</html>
